doctype html
html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Marka Listesi
        link(rel="stylesheet", href="/css/main.css")
        style.
           table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }
            table th, table td {
                padding: 12px;
                border: 1px solid #ddd;
                text-align: left;
            
            }
            table th {
                background-color: #333;
                color: white;
            }
            
    body 
        // Navbar (Menü Çubuğu)
        .navbar
            ul
                li 
                    img(src="/img2/logo.jpg" height="50px" width="50px")
                li
                    p E-Ticaret
                li
                    a(href="/") Ana Sayfa
                li 
                    a(href="/admin-home-page") Admin Home Page
        .container-fluid
            h1 Marka Listesi
            table
                thead 
                    tr 
                        th Marka ID
                        th Marka Adı
                        th Kategori
                        th İşlemler
                tbody 
                    each marka in markalar
                        tr 
                            td= marka.marka_id 
                            td= marka.marka_adi 
                            td= marka.kategori_adi
                            td
                                span(style="display:flex; margin-top:10px;gap:10px;")
                                    a.btn.btn-primary(href=`/marka-guncelle/${marka.marka_id}`) Güncelle
                                    a.btn.btn-danger(href=`/marka-sil/${marka.marka_id}`) Sil
